button {
  user-select: none;
}

.dropdown-parent {
  position: relative;
  z-index: 2;
}

.dropdown-button {
  background-color: #fff;
  text-align: center;
  border: 0;
  outline: none;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: middle;
  font-weight: 400;
  display: inline-block;
  &:hover{
    background-color: #eee;
  }
  &:active{
    background-color: #bbb;
  }
  //transition: background-color 0.15s,
  //            transform 0.2s,
  //            box-shadow 0.2s;
}

.dropdown-menu{
  flex-flow: column wrap;
  display: none;
  position: absolute;
  background-color: #eee;
  &.visible{
    visibility: visible;
    display: block;
    .item {
      display: block;
      width: 100%;
      padding: 0.25rem 1.5rem;
      clear: both;
      overflow: hidden;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      &:hover{
        background-color: #ddd;
      }
    }
  }
}

